/* General Reset */
* {
    font-family: 'Arial', sans-serif;
}
.header {
    margin-top: -400px;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -400px;
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 24px;
}

.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 1000;
    z-index: -1;
}

.boxIndex {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 100;
    z-index: -1;
}

.boxLogin {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    left: 100;
    z-index: -1;
}

.wave {
    position: absolute;
    opacity: .4;
    width: 1700px;
    height: 2000px;
    margin-left: 550px;
    margin-top: -1450px;
    border-radius: 43%;
    z-index: -1;
}
  
  @keyframes rotate {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

  .wave.-one {
    animation: rotate 7000ms infinite linear;
    opacity: .1;
    background: rgba(87, 75, 132, 0.646);
    filter: drop-shadow(0 0 10px #00ddff51);
  }
  
  .wave.-two {
    animation: rotate 3000ms infinite linear;
    opacity: .1;
    background: rgba(19, 127, 154, 0.707);
    filter: drop-shadow(0 0 10px #1e00ff6b);
  }
  
  .wave.-three {
    animation: rotate 7500ms infinite linear;
    background-color: #6b6b6b9c;
    filter: drop-shadow(0 0 10px #07a6db6a);
  }

.logout {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(120deg, #38393b, #25293d, #1c1d21);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    color: #ffffff;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background: rgb(39, 39, 39);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 350px;
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.34));
    margin: 0 auto;
    margin-top: 100px;
}

a{
    text-decoration: none;
    color: #007bff;
    font-style: bold;
    text-decoration: underline;
}

a:hover{
    color: #2499d4;
}

a:active{
    color: #2f58b1;
    transform: scale(0.98);
    transition: transform 0.1s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

p {
    margin-bottom: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background: #003cbd;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #2c5abc;
}

input[type="submit"]:active {
    background: #2c5abc;
    transform: scale(0.98);
    transition: transform 0.1s;
}

