body{
    background-color: #000000;
}
/* Game Details */
.game-details {
    background: rgba(0, 0, 0, 0.379);
    padding: 20px;
    border: 1px solid #ffffff83;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.474);
    backdrop-filter: blur(10px);
    width: 650px;
    text-align: center;
    animation: fadeIn 0.2s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.34));
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: thin;
    scrollbar-color: #2c2c2c #00000072;
}



.game-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-image {
    width: 320px;
    border-radius: 1px;
    margin-bottom: 50px;
}

.gamez-title {
    font-size: 36px;
    color: #ffffff;
}

.game-genre,
.game-description,
.game-release-year,
.game-rating,
.game-developer {
    font-size: 18px;
    margin-bottom: 10px;
}
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.game-details,
.game-info,
.game-image,
.gamez-title,
.game-genre,
.game-description,
.game-release-year,
.game-rating,
.game-developer {
    animation: popIn 0.5s ease-in-out;
}
.game-genre {
    color: #8f98a0;
}

.game-description {
    color: #c7d5e0;
    font-style: italic;
}

.game-release-year,
.game-rating,
.game-developer {
    color: #b8c1c8;
}

/* Links */
a {
    text-decoration: none;
    color: #9b0ee6;
}

a:hover {
    color: #ffffff;
}


@media screen and (max-width: 768px) {
    .game-details {
        grid-template-columns: auto;
        height: 100vh;
    }
  }

  @media screen and (max-width: 750px) {
    .game-details {
        grid-template-columns: auto;
        height: 60vh;
    }
  }

  @media screen and (max-width: 731px) {
    .game-details {
        grid-template-columns: auto;
        height: 60vh;
    }
  }

  @media screen and (max-width: 695px) {
    .game-details {
        grid-template-columns: auto;
        height: 60vh;
        width: fit-content;
    }
  }

  @media screen and (max-width: 472px) {
    .game-details {
        grid-template-columns: auto;
        height: 45vh;
        width: fit-content;
    }
  }